# Compiled files
*.dll
*.exe
*.pdb

# NuGet packages
*.nuget
packages/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo]bj/
[Bb]in/

# Visual Studio files
*.suo
*.user
*.sln.docstates
*.vs/
*.vssscc
.vscode/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Resharper
_ReSharper*/
*.resharper*